/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

body {
  background-color: oklch(97.7% 0.013 236.62);
}

* {
  scroll-behavior: smooth;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(14 165 233); /* Tailwind sky-500 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(2 132 199); /* Tailwind sky-600 */
}
